.wrapper{
    display: flex;
    height: 650px;
    align-items: center;
    justify-content: center;
}

.figure{
    position: relative;
    width: 500px;
    height: 500px;

}

.figure__circle{
    position: absolute;
    height: 30%;
    width: 30%;
    background-color: rgba(238, 33, 12);
    border-radius: 50%;
}

.figure__squar-huge{
    height: 50%;
    width: 50%;
    background-color: rgba(0, 162, 255);
}

.figure__square-tiny{
    height: 25%;
    width: 25%;
    background-color: rgb(247, 186, 0);
    border-radius: 15%;
}

.figure__circle--top-left{
    top: 25%;
    left: 25%;
    transform: translate(-50%, -50%);
}

.figure__circle--top-right{
    bottom: 25%;
    left: 25%;
    transform: translate(-50%, 50%);
}

.figure__circle--bottom-left{
    top: 25%;
    right: 25%;
    transform: translate(50%, -50%);
}

.figure__circle--bottom-right{
    bottom: 25%;
    right: 25%;
    transform: translate(50%, 50%);
}

.figure__squar-huge{
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%); 
}

.figure__square-tiny{
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
}

.figure__circle--top-left:hover{
    z-index: 1;
    background-color: aqua;
}

.figure__circle--top-right:hover{
    z-index: 1;
    background-color: bisque;
}

.figure__circle--bottom-left:hover{
    z-index: 1;
    background-color: blue;
}

.figure__circle--bottom-right:hover{
    z-index: 1;
    background-color: blueviolet;
}

.figure__squar-huge:hover{
    z-index: 1;
    background-color: chartreuse;
}

