.wrapper{
    display: flex;
    justify-content: center;
}

.container{
    position: relative;
    width: 500px;
    height: 500px;
}

.circle_one{
    height: 30%;
    width: 30%;
    background-color: rgba(238, 33, 12);
    border-radius: 50%;
}

.circle_two{
    height: 30%;
    width: 30%;
    background-color: rgba(238, 33, 12);
    border-radius: 50%;
}

.circle_three{
    height: 30%;
    width: 30%;
    background-color: rgba(238, 33, 12);
    border-radius: 50%;
}

.circle_four{
    height: 30%;
    width: 30%;
    background-color: rgba(238, 33, 12);
    border-radius: 50%;
}

.square_one{
    height: 50%;
    width: 50%;
    background-color: rgba(0, 162, 255);
}

.square_two{
    height: 25%;
    width: 25%;
    background-color: rgb(247, 186, 0);
    border-radius: 15%;
}

.circle_one{
    position: absolute;
    top: 25%;
    left: 25%;
    transform: translate(-50%, -50%);
}

.circle_two{
    position: absolute;
    bottom: 25%;
    left: 25%;
    transform: translate(-50%, 50%);
}

.circle_three{
    position: absolute;
    top: 25%;
    right: 25%;
    transform: translate(50%, -50%);
}

.circle_four{
    position: absolute;
    bottom: 25%;
    right: 25%;
    transform: translate(50%, 50%);
}

.square_one{
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%); 
}

.square_two{
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
}

.circle_one:hover{
    z-index: 1;
    background-color: aqua;
}

.circle_two:hover{
    z-index: 1;
    background-color: bisque;
}

.circle_three:hover{
    z-index: 1;
    background-color: blue;
}

.circle_four:hover{
    z-index: 1;
    background-color: blueviolet;
}

.square_one:hover{
    z-index: 1;
    background-color: chartreuse;
}

